// 默认
html.default {
  --el-color-primary: #2c2c2c; // 高级黑主色
  --el-color-primary-light-3: #5a5a5a; // 中黑色
  --el-color-primary-light-5: #7f7f7f; // 浅中黑色
  --el-color-primary-light-7: #a6a6a6; // 浅灰色
  --el-color-primary-light-8: #bfbfbf; // 淡灰色
  --el-color-primary-light-9: #d9d9d9; // 微淡灰色
  --el-color-primary-light-10: #e6e6e6; // 极淡灰色
  --el-color-primary-light-11: #f2f2f2; // 几乎白色
  --el-color-primary-light-12: #f7f7f7; // 近白色
  --el-color-primary-dark: #1a1a1a; // 更深黑色
  --el-color-primary-dark-3: #0d0d0d; // 纯黑色

}

html.dark {
  --el-color-primary: #2c2c2c; // 高级黑主色
  --el-color-primary-light-3: #5a5a5a; // 中黑色
  --el-color-primary-light-5: #7f7f7f; // 浅中黑色
  --el-color-primary-light-7: #a6a6a6; // 浅灰色
  --el-color-primary-light-8: #bfbfbf; // 淡灰色
  --el-color-primary-light-9: #d9d9d9; // 微淡灰色
  --el-color-primary-light-10: #e6e6e6; // 极淡灰色
  --el-color-primary-light-11: #f2f2f2; // 几乎白色
  --el-color-primary-light-12: #f7f7f7; // 近白色
  --el-color-primary-dark: #1a1a1a; // 更深黑色
  --el-color-primary-dark-3: #0d0d0d; // 纯黑色


  filter: invert(0.93) hue-rotate(180deg);

  .el-form-item__label, .el-menu-item > span, .el-badge__content {
    filter: invert(0.93) hue-rotate(180deg);
    color: #ffffff
  }


  // 卡片、容器等背景
  .el-card,
  .el-dialog,
  .el-drawer,
  .el-popover,
  .el-message,
  .el-notification {
    background-color: var(--el-bg-color-overlay);
    border-color: var(--el-border-color);
  }


  // 表格样式
  .el-table {
    filter: invert(0.05) hue-rotate(180deg);
    border-radius: 4px;

    .cell {
      color: #000000;
    }
  }

  .el-button {
    &.el-button--primary {
      //filter: invert(1) hue-rotate(180deg);
      background: #e8e8e8;
      color: #000000;
    }

    .el-icon {
      filter: invert(0) hue-rotate(180deg);
      color: #000000;
    }

    &.is-text, &.is-link {
      filter: invert(0) hue-rotate(180deg);
      background: unset;
    }
  }

  .el-text--success, .el-text--danger, .el-text--warning, .el-text--info {
    filter: invert(0) hue-rotate(180deg);

  }

  // 遮罩层
  .el-overlay {
    background: rgba(0, 0, 0, 0.1);
  }

}

// 蓝色
html.blue {
  --el-color-primary: #409eff;
  --el-color-primary-light-3: #66b1ff;
  --el-color-primary-light-5: #8cc5ff;
  --el-color-primary-light-7: #b3d8ff;
  --el-color-primary-light-8: #c0d5ff;
  --el-color-primary-light-9: #d9ecff;
  --el-color-primary-dark: #3b93ed;
  --el-color-primary-dark-3: #3482d3;
}

// 红色
html.red {
  --el-color-primary: #f56c6c;
  --el-color-primary-light-3: #f78989;
  --el-color-primary-light-5: #fab6b6;
  --el-color-primary-light-7: #fcd3d3;
  --el-color-primary-light-8: #fcdcdc;
  --el-color-primary-light-9: #fdeeee;
  --el-color-primary-dark: #e16161;
  --el-color-primary-dark-3: #cf5555;
}

// 橙色
html.orange {
  --el-color-primary: #e6a23c;
  --el-color-primary-light-3: #ebb563;
  --el-color-primary-light-5: #f3c17a;
  --el-color-primary-light-7: #f7d19e;
  --el-color-primary-light-8: #f7e3b5;
  --el-color-primary-light-9: #fbe6c3;
  --el-color-primary-dark: #c97a1f;
  --el-color-primary-dark-3: #9f6119;
}

// 紫色
html.purple {
  --el-color-primary: #a66ec6;
  --el-color-primary-light-3: #c08ce5;
  --el-color-primary-light-5: #d3aefa;
  --el-color-primary-light-7: #e5cfff;
  --el-color-primary-light-8: #e9d5ff;
  --el-color-primary-light-9: #f0eaff;
  --el-color-primary-light-11: #faf9ff;
  --el-color-primary-light-13: #fcfcff;
  --el-color-primary-dark: #8956a6;
  --el-color-primary-dark-3: #61337e;
}
